<div class="container">
  <div class="row">
       <div class="col-md-12">
        <div class="show-img">
        <%= attachment_image_tag @test, :image, :fill, 330, 300, fallback: "no_image.jpg" %>
        </div>
        <h2 class="text-size"><%= @test.title %></h2>
         
          <div class="bodysize"><%= simple_format @test.body %>
          
            <% if @test.id == current_user %>
         　  <%= link_to "削除する",test_path(@test), method: :delete, class: "btn btn-danger" %>
          　<%= link_to "編集する",edit_test_path(@test), class: "btn btn-success" %>
          　<% end %>
         </div>
       </div>
    </div>
  </div>
 </div>